{
    "reference": {
      "seq": "human_GRCh38_no_alt_analysis_set.fasta",
      "fai": "human_GRCh38_no_alt_analysis_set.fasta.fai",
      "chromosomes": "inputs/beds/all_chroms.bed"
    },
    "variants": {
      "filt": {
        "hifi": "inputs/vcfs/pedfilt/deepvar-pf-NA12878.vcf.gz",
        "ont": "inputs/vcfs/pedfilt/ont-pf-NA12878.vcf.gz",
        "illumina": "inputs/vcfs/pedfilt/dragen-pf-NA12878.vcf.gz",
        "assembly": "inputs/vcfs/pedfilt/dipcall-pf-NA12878.vcf.gz"
      },
      "raw": {
        "hifi": "inputs/vcfs/raw/deepvar.vcf.gz",
        "ont": "inputs/vcfs/raw/ont.vcf.gz",
        "illumina": "inputs/vcfs/raw/dragen.vcf.gz"
      }
    },
    "reps":{
        "ilmn" : "inputs/vcfs/tech-rep/NA12878.1490383.v4.2.4.grc38.hard-filtered.vcf.gz",
        "hifi" : "inputs/vcfs/tech-rep/NA12878.na12878.subsamp.4170342.vcf.gz",
        "ont"  : "inputs/vcfs/tech-rep/NA12878.wf_snp.vcf.gz",
        "hifi-full" : "inputs/vcfs/tech-rep/NA12878-uw-cl-dv1.8.vcf.gz",
        "element" : "inputs/vcfs/tech-rep/2188-E.output.vcf.gz"

    }
  }
